.card__wrapper--form {
  // @include flex(column, center, space-around);
  padding: 1vw;
  //margin-top: 2vw;
}

form {
  @include flex(column, center, space-between);
  //padding: 1vw;
  width: 99%;
}

input,
select {
  width: 50%;
  height: 4vh;
  padding: 0.5vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

select {
  width: 100%;
}

.fa-check {
  visibility: hidden;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  font-size: 0.5rem;
  line-height: 6px;
  color: #fff;
}

.label--checkbox {
  @include flex(row, center, flex-start);
  //width: 60%;

  span {
    padding-left: 1vw;
  }
  input[type="checkbox"] {
    position: absolute;
    margin: 0;
    width: 2vh;
    height: 2vh;
    opacity: 0;
    &::before {
      opacity: 1;
      border: 1px solid #ccc;
      width: 2vh;
      height: 2vh;
    }
    + .icon {
      display: inline-block;
      position: relative;
      width: 2vh;
      height: 2vh;
      border: 1px solid #ccc;
    }

    &:checked + .icon {
      background-color: $success-color;
      .fa-check {
        visibility: visible;
      }
    }
  }
}

/*personal Data*/
.personal-data {
  .row{
    @include flex(row, center, center);
    width: 100%;
  }
}

.form__container--personal-data{
  width: 100%;
}

.field {
  @include flex(row, center, space-around);
  padding: 1vh 0 1vh 0;
  width: 100%;
  &--checkbox {
    @include flex(row, center, space-between);
    width: 90%;
    &:hover {
    
      background-color: $medium-color;
    }
  }
}
