.card__wrapper--form {
   // @include flex(column, center, space-around);
    padding: 1vw;
    //margin-top: 2vw;
}

form {
    @include flex(column, center, space-around);
    //padding: 1vw;
    width: 99%;
}

.field {
    @include flex(row, center, space-around);
    //border: 2px red solid;
    margin: 0.75vw 0 0.75vw 0;
    width: 75%; 
}

.add-links {
    @include flex(row, center, space-around);
    width: 75%;
    transition: $transition-linear;
    display: none;
    input {
        width: 25%;
    }
    .btn {
        margin: 1vw;
    }
}

.add-links.display {
    display: flex;
}

input {
    width: 50%;
    padding: 0.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }*/