* {
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  display: none;
}

.overlay.show {
  display: flex;
}

.overlay::webkit-scrollbar {
  display: none;
}

.modal {
  @include flex(column, center, space-around);
  position: relative;
  margin: 2rem 1rem 2rem 4rem;
  width: 75%;
  background-color: #ffffff;
  display: none;
}

.modal.show {
  display: flex;
}

.modal .btn-close {
  padding: 5px 10px;
  cursor: pointer;
}

.modal__header {
  flex-wrap: nowrap;
  h1 {
    padding: 5px 10px;
  }
  @include flex(row, center, space-between);
  width: 100%;
  border-bottom: 1px solid $medium-color;
}

.modal__menu {
  flex-wrap: nowrap;
  @include flex(row, flex-end, space-around);
  width: 100%;
  border-bottom: 1px solid $medium-color;
  input {
    width: 100%;
  }
}

.modal__content {
  width: 90%;
  border-bottom: 1px solid $medium-color;
}

.modal__footer {
  @include flex(row, center, space-around);
  width: 100%;
}

.modal__footer__buttons{
  @include flex(row, center, center);
}

//links

.field__modal {
  @include flex(column, start, flex-end);
  label {
    padding: 1vh 0 1vh 0;
  }
  &--wide {
    width: 40%;
  }
}

.generated-link {
  flex: 8 0 0;
}

.link__modal__buttons {
  @include flex(row, center, center);
  margin-left: 0.5vw;
  .btn {
    margin: 0.5vw;
  }
}

@media (max-width: 767px) {
  .generated-link {
    padding-left: 1vw;
    //width: 50%;
  }
}
