//@include flex(row, flex-start, flex-start);
//@mixin flex($flex-direction, $align-items, $justify-content) {

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    //background: lighten($color-dark, 75%);
    //font-family: $font-text;
    font-size:  1.5vh;
    line-height: 1.5vh;
    //font-weight: $font-normal;
    color: $secondary-color;
    overflow-x: hidden; 
}

#pages {
    > * {
      display: none;
    }
  
    > .active {
      display: block;
    }
  }

#page {
    display: flex;
    height: 100%;
    max-width:100vw;
}

 .page__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem;
    width: 100%;
    min-height: 100vh;
    background-color: $medium-color;
 } 

 .header__container {
    justify-content: flex-end;
    height: auto;
    min-width: 100%;
    background-color: $light-color;
 }

.page__card__container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem 1rem 2rem 4rem;
    width: 75%;
    padding: 0rem 0 1rem 0;
    height: 50rem;
    background-color: $light-color;
    box-shadow: $box-shadow;
}

@media (max-width: 767px) {
    .page__container{
        margin-top: 0; 
    }
    .page__card__container {
    width: 75%;
    height: 20rem;
    }
}    