//@include flex(row, flex-start, flex-start);
//@mixin flex($flex-direction, $align-items, $justify-content) {

body {
    max-width:100vw;
    overflow-x: hidden; 
}

.page {
    display: flex;
    //width: 100vw;
    height: 100%;
    max-width:100vw;
}

.page__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    width: 12rem;
    margin-left: -9rem;
    transition: margin .25s ease-out;
  }
  .page__nav.toggle {
    margin-left: 0;
}

 .page__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100rem;
    background-color: $medium-color;
 } 

 .page__header {
    justify-content: flex-end;
    height: auto;
    min-width: 100%;
    background-color: $light-color;
 }

.page__card__container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    margin: 2rem 1rem 2rem 4rem;
    width: 75%;
    padding: 1rem 0 1rem 0;
    height: 50rem;
    background-color: $light-color;
    box-shadow: $box-shadow;
}

@media (max-width: 767px) {
    body {
        overflow: hidden;
    }
    .page__card__container {
    width: 75%;
    height: 20rem;
    }
}    