.btn {
    @include flex(row, center, center);
    width: auto;
    //height: 3vh;
    overflow: hidden;
    border: none;
    transition: $transition-linear;
    margin: 1vw;
    border-radius: 5px;
    padding: 1vh;
    background-color: $main-color;
    cursor: pointer;
    color: $light-color;

    &--secondary{
        background-color: $secondary-color;
        
    }
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 10px 30px -13px rgba(0,0,0,0.75);
        .icon-refresh{
            transform: rotate(180deg)
        }
    }
}
