.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: auto;
    width: auto;
    border: none;
    border-radius: 2px;
    padding: 1%;
    margin: 2vw;
    padding: 1vw;
    background-color: $main-color;
    cursor: pointer;
    align-items: center;
    color: $light-color;

    &--secondary{
        background-color: $secondary-color;
    }
}