
.card__header {
    @include flex(row, center, flex-start);
    height: 5vw;
    width: 100%;
    border-bottom: 2px solid $medium-color;
    
    color: $secondary-color;
    span {
        margin-left: 1rem;
        text-transform: uppercase;
    }
}

.card__wrapper { 
    @include flex(column, center, center);
    flex: auto;
    overflow: hidden;
    width: 100%;
    border-radius: 2px;
    padding: 1rem;
}

@media (max-height: 667px) {
    .card__header {
        height: 10vw;
    }
}