.header__container {
    @include flex(row-reverse, center, flex-start);
    position: fixed;
    z-index: 5;
    box-shadow: $box-shadow;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $medium-color;
    height: 5rem;
    font-size: 2rem;
    border-left: 2px solid $medium-color;
    line-height: 30px;
    transition: $transition-linear;
    cursor: pointer;
    &:hover{
        box-shadow: $box-shadow;
        .header__icon {
            color: $main-color;
        }
    }
    &--wide{
        flex: 0 0 15rem;
        justify-content: space-around;
    }
    &--narrow{
        flex: 0 0 5rem;
    }
}

.header__text {
    color: $header-color;
}

.icon-arrow-down-small{
    &:hover {
        color: $main-color;
        .header__icon {
            color: $medium-color;
        }
    }
}

@media (max-width: 767px) {
    .header__container {
      display: none;
    }
}   