.nav__container {
    @include flex(column, center, flex-start);
    position: fixed;
    z-index: 10;
    transition: margin .25s ease-out;
    margin-left: -9rem;
    width: 12rem;
    height: 100vh;
    background-color: $dark-color;
  }
  .nav__container.toggle {
    margin-left: 0;
    .nav__logo {
        @include flex(row, center, space-between);
        .logo {
        display: block;
        }
    }
    .nav__menu {
        .menu__link {
            flex-direction: row;
        }
        .menu__link__text {
            display: block;
        }
    }
    .nav__manager{
        .manager__label {
            display: block;
        }
        .manager__card {
            justify-content: space-around;
        }

        .manager__photo {
            width: 3rem;
            height: 3rem;
        }
        .manager__name {
            display: block;
        }
    }
}



.page__nav.toggle {
    z-index: 10;
    .nav__link__text {
        visibility: visible;
        opacity: 1;
        transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
        padding-left: 0.5rem;
    }
    .nav__link {
        display: flex;
        flex-direction: row;
    }
    .nav__link__icon {
        margin: 0;
    }

    .nav__manager {
        padding: 1rem;
        margin: 0;
        .manager__photo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
            img{
                width: 5vmin;
                height: 5vmin;
            }
        }
        .manager__title {
            display: block;
            transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
        }
        .manager__name {
            visibility: visible;
            opacity: 1;
            transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
        }
    }

}    

.nav__wrapper {
    @include flex(row, center, space-between);
    padding: 1rem;
    width: 100%;
}

.nav__logo {
    @include flex(row-reverse, center, flex-start);
    .logo {
        display: none;
        font-family: 'Pacifico', cursive;
        color: $light-color;
    }
    
    .hamburger{
        cursor: pointer;
        &:hover{
            color: $light-color;
        }
        &:active{
            color: $light-color;
        }
    }
}

.nav__menu {
    padding: 0;
    border-bottom: $secondary-color 2px solid;
    .menu__link__wrapper {
        width: 100%;
        padding: 0;
        list-style: none;
    }
    .menu__link {
        @include flex(row-reverse, center, flex-start);
        cursor: pointer;
        &:hover{
            color: $light-color;
            background: none;
            .menu__link__icon{
                border-left: solid 5px $medium-color;
            }
        }
    }
    .menu__link.active {
        color: $light-color;
        background-color: #282828;
        .menu__link__icon{
            border-left: solid 5px $main-color;
        }
    }
    .menu__link__text {
        display: none;
    }
    .menu__link__icon {
        padding: 1rem;
    }
}

.nav__manager {
    @include flex(column, flex-start, space-between);
    border-bottom: $secondary-color 2px solid;
    line-height: 2rem;
    padding-right: 0.75rem;
    .manager__label {
        display: none;
    }
    .manager__card {
        @include flex(row-reverse, center, flex-start);
        width: 100%;
        margin: 0;
        text-align: left;
        color: $link-color;
        .manager__photo {
            width: 1.5rem;
            height: 1.5rem;
        }
        .manager__name {
            display: none;
        }
    }
}

.nav__account {
    justify-self: flex-end;
    align-self: flex-end;
    display: none;
}

@media (max-width: 767px) {
    .nav__container.toggle {
        .nav__manager {
            line-height: 1rem;
            .manager__photo {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .menu__link--quit{
            justify-content: center;
            i:hover{
                border: none  
            } 
        } 
    }
    .nav__account {
        display: block;
    }
  }

@media (max-height: 667px) {
    .nav__manager{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .menu__link__icon {
        line-height: 0;
    }
}